<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="Display_Complaint">
  <table width="200" border="1">
    <tr>
      <td>
        <select name="select">
          <option {% if status == "Payed" %} selected {% endif %}>Payed</option>
          <option {% if status == "UnPayed" %} selected {% endif %}>UnPayed</option>
        </select>
      </td>
       <td colspan="3"><label>
        <input name="Send" type="submit" id="Send" value="View" />
      </label></td>
    </tr>
    <tr>
      <td>Canteen Name</td>
      <td>Amount</td>
      <td>Details</td>
      <td>Date</td>
    </tr>

    {% for i in val %}
    <tr>
      <td>{{i['name']}}</td>
      <td>{{i['amount']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['date']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
