{% extends "Admin/admin_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="Display_Complaint">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <td>
        <select name="select">
          <option {% if status == "Replied" %} selected {% endif %}>Replied</option>
          <option {% if status == "Not Replied" %} selected {% endif %}>Not Replied</option>
        </select>
      </td>
       <td colspan="3"><label>
        <input name="Send" type="submit" id="Send" value="View" />
      </label></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>Complaint</td>
      <td>Date</td>
      <td> Action </td>
    </tr>

    {% for i in val %}
    <tr>
      <td>{{i['name']}}</td>
      <td>{{i['complaint']}}</td>
      <td>{{i['date']}}</td>
     {% if status == "Not Replied" %}
      <td><a href="/complaintReply?id={{i['id']}}">Reply</a></td>
      {% endif %}
      <td></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}